MYSQL_ROOT_PASSWORD=
MYSQL_DATABASE=
MYSQL_USER=
MYSQL_PASSWORD=

DB_ENGINE=
DB_HOST= # This must match the name of the database service in your compose.yml file
DB_PORT=
DB_CHARSET=utf8mb4

API_SECRET_KEY=

VAPID_SUBJECT=

VAPID_PUBLIC_KEY=
VAPID_PRIVATE_KEY=